<div class="flash-queue">
  <div class="flash-inner fade in">
    <div class="flash">
      <span class="flash-msg">This is a flash with a close symbol</span>
      <span class="flash-close">×</div>
    </div>
  </div>
</div>
