.breadcrumb {
  font-size: 0;

  .crumb {
    position: relative;
    display: inline;

    &:hover a {
      background-position: 100% -48px;
      color: #333;
    }

    &:first-of-type a {
      z-index: 11;
      margin: 0;
      padding-left: 10px;
      border-left: 1px solid #D8D8D8;

      &:hover {
        border-color: #C3C3C3;
      }
    }

    // these could be removed in favor
    // of a JS solution but I prefer pure CSS
    &:nth-of-type(2) a {
      z-index: 10;
    }

    &:nth-of-type(3) a {
      z-index: 9;
    }

    &:nth-of-type(4) a {
      z-index: 8;
    }
  }

  a,
  a:link,
  a:visited {
    color: #666;
    line-height: 1;
    position: relative;
    white-space: nowrap;
    display: inline-block;
    font-size: 12px;
    margin-left: -13px;
    padding: 7px 8px 9px 35px;
    text-decoration: none;
    vertical-align: top;
    background-color: #F1F1F1;
    background-repeat: no-repeat;
    background-position: 100% 0;
    border: 1px solid #D8D8D8;
    border-radius: 1px;
    border-right: none;
    border-left: none;

    &:hover {
      border-color: #C3C3C3;
      box-shadow: 0px 1px 2px #EFEFEF;

      &:after {
        border-color: #C3C3C3;
      }
    }

    &:after {
      content: '';
      z-index: -1;
      display: block;
      position: absolute;
      top: 3.5px;
      right: -10px;
      width: 20px;
      height: 20px;
      border-radius: 1px;
      background-color: #F1F1F1;
      border-right: 1px solid #D8D8D8;
      border-bottom: 1px solid #D8D8D8;
      -webkit-transform:rotate(-45deg);
         -moz-transform:rotate(-45deg);
    }
  }

}
