// Sidebar Implementation
.sidebar {
	float: left;
	width: 200px;
}

.sidebar-link {
	font-size: 13px;
	display: block;
	height: 30px;
	width: 175px;
	line-height: 30px;
	padding-left: 25px;

	&.is-active {
		color: #666;
		border-left: 5px solid #666;
		padding-left: 20px;
	}

	&:hover {
		background: #EFEFEF;
		text-decoration: none;
	}
}