<!-- this template must be minified to remove white space -->
<ul class="media-list">
  <li class="media">
    <div class="clearfix">
      <a class="img-block" href="#">
        <img class="img" src="" alt="" />
      </a>
      <div class="ofhidden clearfix">
        <div class="media-actions">
          <div class="media-align media-align-size"></div>
          <a class="btn" href="#">Dismiss</a>
          <a class="btn" href="#">Accept</a>
        </div>
        <div class="ofhidden">
          <div class="inline-block media-font-fix">
            <div class="media-align media-align-size"></div>
            <div class="media-align media-text">
              <a href="#">
                REDACTED REDACTED REDACTED REDACTED REDACTED REDACTED REDACTED REDACTED REDACTED REDACTED REDACTED
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
